*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: grid;
    font-size: 3rem;
    background-color:#004d4f;
    color:whitesmoke;

}
h1,p{
    text-align: center;
}
nav{
    padding:1rem;
    background-color: #44B78B;
    color: white;
    font-size: 2.5rem;
}
main{
    flex-grow: 1;
    display: grid;
    place-content: center;
}
a{
    text-decoration: none;
    color:#81dbb8;
}
a:hover{
    opacity: .85;
}
.banner{
    display: block;
    width: 100%;
    max-width: 800px;
}
/* for logout page */
.logout{
    display: inline-block;
}

.logout-button{
    font-size: 3.5rem;
    background-color:rgb(0,0,0,0);
    border: none;
}

.logout-button:hover{
    opacity: .85;
}