<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Django App {% endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/main.js' %}" defer></script>
  </head>

  <body>
    <nav>
      <a href="/">
        <span role="img" aria-label="Home" title="Home">🏘️</span>
      </a>
      |
      <a href="/about">
        <span role="img" aria-label="About" title="About">😊</span>
      </a>
      |
      <!-- <a href="/posts">📰</a> | -->
      <a href="{% url 'posts:list' %}">
        <span role="img" aria-label="Post" title="Post"> 📰 </span>
      </a>
      |
      
      {% if user.is_authenticated %}
        <a href="{% url 'posts:new-post' %}">
          <span role="img" aria-label="New Post" title="New Post"> 🆕 </span>
        </a> |
        <form class="logout" style="display: inline-block;" action="{% url 'users:logout' %}"  method="post">
          {% csrf_token %}
          <button class="logout-button" style="font-size: 2.5rem;background-color: transparent;border:none" aria-label="User Logout" title="User Logout">
            👋
          </button>
        </form>
        {% else %}
          <a href="{% url 'users:register' %}">
        <span role="img" aria-label="User Registration" title="Register">
          🚀
        </span>
      </a>
      |
      <a href="{% url 'users:login' %}">
        <span role="img" aria-label="User Login" title="Login"> 🔏 </span>
      </a> 
        {% endif%}
      
    </nav>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
