form{
    box-shadow: 2px 2px rgba(0,0,0,.1);
    align-items: center;
    width: 70%;
    margin:10px auto;
    display:grid;
    grid-column: auto;
    padding:20px;
}
form :nth-child(){
    padding: 10px;
    margin:10px auto;
}